/**
 * Common
 */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

/* Pagenation */
 .pagenation-wrapper {

 }
 .pagenation-wrapper ul {
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
 .pagenation-wrapper ul li {
   padding: 2px 12px;
   border: 1px solid #222;
   border-radius: 50%;
   margin: 0 5px;

 }
 .pagenation-wrapper ul li a {
     color: #000;
 }
 .pagenation-wrapper ul li.current {
   background: #cf2e2e;
     color: #fff;
     border-color: #cf2e2e;
 }




 /**
  * Header
  */
.site-branding img {
  max-width: 80%;
  transition: all .5s;
}
#masthead .site-branding .site-description {
  display: none;
}
#masthead .sticky-bar {
  height: 120px !important;
  transition: all .5s;
}
#masthead .sticky-bar.is-scroll {
  height: 80px !important;
}
#masthead .sticky-bar.is-scroll .site-branding img {
  max-width: 50%;
}

/**
 * Footer
 */
#colophon .site-info {
  padding: 7px 0;
}
/**
 * Homepage
 */
/* Banner */
.home-banner {
  background-position: center right !important;
  background-attachment: fixed;
}
/* 使ってない */
.metaslider_container_17 {
  overflow: hidden;
}
.metaslider .caption-wrap {
  background: none !important;
  top: 10vw !important;
  left: 15vh !important;
}
.caption h1 {
  font-size: 5em;
  color: #fff;
  line-height: 1;
  margin: 12px 0;
}
.caption h2.risaueda {
  font-size: 3em;
  color: #fa4343;
  margin: 0;
  margin-bottom: 10px;
}
.caption p {
  font-size: 1.2em;
  line-height: 1.4;
  margin: 0 0 1em;
}
/* Download CV */
.btn-container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn-cv {
  display: inline-block;
  width: 200px;
  text-align: center
  font-size: 16px;
  color: #fa4343;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  position: relative;
  border: 2px solid #fa4343;
  transition: .4s;
}
.btn-cv:hover {
  border: 2px solid transparent;
  color: #FFF;
}
.btn-cv:before, .btn-cv:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}
.btn-cv:before {
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  transform-origin: 100% 0%;
}
.btn-cv:after {
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  transform-origin: 0% 100%;
}
.btn-cv:hover:after,
.btn-cv:hover:before {
  transform: scale(1);
}
/* My detail */
.section-title .widget-title {
  color: red;
  font-size: 2em;
  margin-bottom: 0;
}
/* 各アイテム */
.detail-items .panel-grid-cell {
  width: 280px;
  max-width: 100%;
  height: 188px;
  overflow: hidden;
  margin: 10px 8px 10px 16px;
  position: relative;

}
.detail-items .panel-grid-cell .panel-first-child,
.detail-items .panel-grid-cell .panel-last-child {
  width: 100%;
  height: 100%;
}
/* Topic */
.detail-items .panel-grid-cell .panel-first-child {
  background: #fcfcfc;
  padding-top: 10px;
  font-weight: bold;
}
/* Answer */
.detail-items .panel-grid-cell .panel-last-child {
  position: absolute;
  /* top: 0; */
  top: 100%;
  left: 0;
  font-size: 130%;
  padding-top: 80px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .3s;
}
.detail-items .panel-grid-cell:hover .panel-last-child {
  top: 0;
}
.portfolio-wraper .text-center {
  padding-bottom: 20px;
}
/* Maxim */
.maxim h2 {
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  color: #fff;
  text-shadow: 3px 3px #414141;
  line-height: 1.2;
}
/* My Skills */
.progress-bar .box {
  padding: 0 20px;
  box-sizing: border-box;
}
.progress-bar .meter {
  width: 100%;
  max-width: 760px;
  margin: 70px auto 0;
}
.progress-bar .meter-inner {
  position: relative;
  border-radius: 10px 10px;
}
.progress-bar .meter-line {
  width: 100%;
  position: relative;
  height: 12px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.progress-bar .meter-line::before {
  position: absolute;
  content: "";
  width: 760px;
  height: 12px;
  display: block;
  top: 0;
  left: 0;
  background: #ccc;
}
/* プログレスの値 */
.progress-bar .meter-line-inner {
  position: relative;
  height: 12px;
  width: 0%;
  background: #00bcaf;
}
.progress-bar .meter-number {
  font-size: 1.4em;
}
.progress-bar .meter-percent {
  position: absolute;
  display: block;
  width: 60px;
  margin-left: -30px;
  left: 0%;
  bottom: 20px;
  color: #00bcaf;
  text-align: center;
  font-size: 1.2em;
}
.progress-bar .meter-percent::after {
  content: "▼";
  display: block;
  line-height: 1;
  text-align: center;
  transform: scale(.8, .8);
}





/**
 * Responsive
 */

/* iPad */
@media screen and (max-width:768px) {
  /* homepage */
  .metaslider .caption-wrap {
    /* top: 10vw !important; */
    left: 4vh !important;
  }
  .caption h1 {
    font-size: 3em;
    line-height: 1;
    margin: 12px 0;
  }
  .caption h2.risaueda {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .caption p {
    font-size: 0.9em;
  }
  .btn-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* SNS */
  .sns-icons {
    flex-direction: row !important;
  }
  .sns-icons .panel-grid-cell {
    margin-bottom: 0 !important;
  }
  /* My detail */
  .detail-items .panel-grid-cell {
    margin-left: 0;
  }
}
/* Mobile */
@media screen and (max-width:600px) {
  /* homepage */
  .caption h1 {
    font-size: 1.5em;
  }
  .caption p {
    display: none;
  }
  .btn-container {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
